@import 'custom-icons.css';

body {
    margin: 0;
    width: 100%;
    height: 40px;
}

.cut-out {
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    overflow: hidden;
    height: inherit;
    width: inherit;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    border-bottom: 1px solid #3f4447;
    box-sizing: border-box;
    background-color: #2f3437;
}

.title-bar {
    height: calc(100% - 2px);
    user-select: none;
    -webkit-app-region: drag;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.25em;
    padding-left: 20px;
    box-sizing: border-box;
    /* margin-left: 2px;
    margin-top: 2px;
    margin-right: 1px; */
}

#window-title {
    line-height: 1.75;
}

.title-bar div {
    height: 100%;
}

.control-icons {
    font-size: 11.8px;
    font-family: 'win-icons';
    display: flex;
}

.control-icons div {
    -webkit-app-region: no-drag;
    margin: 0px;
    padding: 18px;
    padding-top: 12px;
    padding-bottom: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.control-icons div:hover {
    background-color: rgba(127, 127, 127, 0.2);
}

.control-icons #close:hover {
    color: #eee;
    background-color: #e81123;
}

.window-title {
    display: flex;
    align-items: center;
}
